body {
    color: #5f5f5f;
    background-color: #ffffff;
}
td {
    color: #5f5f5f;
    background-color: #ffffff ;
}
td.menu {
    background-color: #c9bc9c;
}
td.hd {
    color: #5f5f5f;
    background-color: #f5f5f5 /* #e0e0e0 */;
}
input {
    color: #5f5f5f;
}
.footerbody {
    border-top: #006934 1px solid;
    border-bottom: #006934 1px solid;
    background: #006934 none;
}
.footertd {
    background-color: #006934;
}
.mainMenuBody {
    background: #c9bc9c none;
}
.menuLink {
    color: #ffffff;
}
.menuLink:hover {
    color: #ffffff ;
    background-color: #006934;
}

/* ie */
.menuLink:active {
    color: #ffffff;
    outline: none;
    background-color: #006934;
}

/* ff */
.menuLink:focus {
    color: #ffffff;
    outline: none;
    background-color: #006934;
}
.menuLink:focus:hover {
    color: #ffffff ;
    background-color: #006934;
}
.menuCell {
	color: #ffffff;
    background-color: #c9bc9c;
}
.activeMenu {
    color: #ffffff;
    outline: none;
    background-color: #006934;
}
